.btn-excel{
    background-color: rgb(134, 204, 145);
    border-color: #198754;
    color: #fff;
    margin-right: 10px;
}
.btn-excel:hover{
    background-color: #198754;
    border-radius: 30px;
}

.btn-new{
    background-color: rgb(134, 204, 145);
    border-color: #198754;
    color: #fff;
}
.btn-new:hover{
    background-color: #198754;
}